.login{
    display: flex;
    height: 100vh;
    background-color: #cce9c6;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
}
.login::before{
    content: "";
    position: absolute;
    height: 176px;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #4ec0a5;
    z-index: -1;
}
.login-container{
    background-color: #fff;
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
    border-radius: 10px;
}

.login-container > img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.login-name{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}

.login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    background-color: #00755a;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.login-btn:hover{
    background-color: #005541;
}

.login-btn img{
    width: 20px;
    margin-right: 10px;
}
@media  (max-width: 690px){
    .login-container{
        width: 263px;
        height: 339px;
    }
  }