.user-profile{
    height: 53px;
    display: flex;
    padding: 5px 0 5px 10px;
    align-items: center;
    background: white;   
    cursor: pointer;
}
.user-profile img{
    height: 40px;
    width: 40px;
}
.profile-name{
    height: 55px;
    width: 75%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
}
.profile-name span{
    font-size: 15px;
}
.user-last-message{
    font-size: 13px;
    color: grey;
    margin-bottom: 0;
    overflow: hidden;
}
@media  (max-width: 690px){
    .profile-name{
        width: 86%;
    }
  }